/* UTILITY */
.bg-orange{
    background-color: rgb(255, 102, 0);
}


/* CSS */


.banner{
    margin: 120px 0 0 0; 
    height: 80vh;
    display: flex;
}
.banner>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-logo{
    width: 300px
}
.banner-container{
    top: 67%;
}
.game-card img{
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
}
.game-card img:hover{
    border: 2px solid blue;
    padding: 2px;
}
.wrapper .banner-container{
    top: 25%;
}